<nav class='bg-slate-50 border border-slate-300 h-14 flex items-center justify-between px-6'>
  <%= link_to Rails.application.class.module_parent.name, root_path %>
  <% if user_signed_in? %>
    <%= link_to 'Inboxes', inboxes_path %>
    <%= link_to 'New inbox', new_inbox_path %>
    <%= image_tag current_user.image, size: '30x30', alt: current_user.email.to_s if current_user.image? %>
    <%= link_to current_user.username, edit_user_registration_path %>
    <%= button_to 'Log out', destroy_user_session_path, method: :delete, data: { turbo: 'false' } %>
  <% else %>
    <%= link_to 'Login', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= button_to 'Sign in with Github', omniauth_authorize_path(User, :github), method: :post, data: { turbo: 'false' } %>
  <% end %>
</nav>
