<div id="<%= dom_id inbox %>" class='border border-slate-300 p-4 rounded-lg'>
  <div class='font-bold'>
    <%= link_to inbox.title, inbox %>
  </div>

  <div>
    <%= inbox.description %>
  </div>

  <div>
    <%= pluralize(inbox.messages.count, 'message') %>
    <%= inbox.user.username %>
    <%= inbox.created_at %>
    <%= inbox.status %>
    <%= link_to 'Edit', edit_inbox_path(inbox) %>
    <%= button_to 'Destroy', inbox_path(@inbox), method: :delete %>
  </div>
</div>
