<div id="<%= dom_id inbox %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= inbox.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= inbox.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= inbox.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= inbox.status %>
  </p>

  <% if action_name != "show" %>
    <%= link_to 'Show this inbox', inbox, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'Edit this inbox', edit_inbox_path(inbox), class: 'rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium' %>
    <hr class="mt-6">
  <% end %>
</div>
